
.navbar {
  background-color: #3c3a39;
  padding: 17px !important;
}

.navbar-brand {
  font-weight: 500;
  font-size: large;
  font-family: "Roboto", sans-serif;
  color: #fff !important;
}

.hero-section {
    height: 90vh !important;
  background-color: #1c1a19;
  background-image: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;


}

  .herosection_container{
      padding: 19px 0 25.1% 36px !important;  
  }
.h1 {
  color: #f55800 !important;
  font-family: 'Crete Round';
  font-size: 4.5rem !important;
  font-weight: 700;
  line-height: 81.5px;
  margin-bottom: 2rem;

}

.default_btn{
    background-color: #ff6b00 !important;
}

@media screen and (min-width: 763px) {
  .navbar {
    background-color: #3c3a39;
    padding: 26px 142px 26px 154px !important;
  }

  .navbar-brand {
    font-weight: 500;
    font-size: large;
    font-family: "Roboto", sans-serif;
    color: #fff !important;
  }

  .navbar-collapse {
    flex-grow: 0 !important;
  }

  .navbar-nav {
    width: 300px;
  }

  .nav-link {
    color: #fff !important;
  }

  
  .hero-section {
      height: 90vh !important;
    background-color: #1c1a19;
    background-image: url(./Assets/images/dbg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;


  }

    .herosection_container{
        padding: 192px 0 25.1% 36px !important;  
    }
  .h1 {
    color: #f55800 !important;
    font-family: 'Crete Round';
    font-size: 4.5rem !important;
    font-weight: 700;
    line-height: 81.5px;
    margin-bottom: 2rem;

  }
  .hero-paragraph {
    color: #ffff;
    font-size: 16px;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    width: 50%;
  }
  
  .middlesection-container{
    padding: 135px 10% 130px 12% !important;

  }
  .card_section{
    padding: 0 10% 130px 12% !important;

  }

  .card{
    border: none !important;
    background-image: url("./Assets/images/cardbackground.png");
    height: 100px;
    background-size: cover;
    cursor: pointer;

  }

  .card-body{
      height: 25rem;
    }
    .card:hover .card-body{
          background: linear-gradient(#26262600, #262626e5);
  
    }
}
