
.navbar {
  background-color: #3c3a39;
  padding: 17px !important;
}

.navbar-brand {
  font-weight: 500;
  font-size: large;
  font-family: "Roboto", sans-serif;
  color: #fff !important;
}

@media screen and (min-width: 763px) {
  .navbar {
    background-color: #3c3a39;
    padding: 20px !important;
  }

  .navbar-brand {
    font-weight: 500;
    font-size: large;
    font-family: "Roboto", sans-serif;
    color: #fff !important;
  }

  .navbar-collapse {
    flex-grow: 0 !important;
  }

  .container-fluid {
    padding: 0 8rem 0 8rem !important;
  }

  .navbar-nav {
    width: 300px;
  }

  .nav-link {
    color: #fff !important;
  }

  .hero-section {
    height: 90vh !important;
    background-color: #1c1a19;
    background-image: url(./Assets/images/dbg.svg);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: right;

  }

  .text-1 {
    color: #f55800 !important;
    margin-top: 15vh;
    font-family: 'Crete Round', sans-serif;
    font-size: 4.5rem !important;
    font-weight: 400;
    line-height: 81.5px;

  }
  .text-2 {
    width: 35.375rem;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2rem !important;
    line-height: 44px;
    color: #fff !important;
  }

  .text-3 {
    width: 35.375rem;
    height: 123px;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.25rem !important;
    line-height: 32px;
    color: #f4f5f7 !important;
  }
}
